body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, Arial, sans-serif;
    /* cursor: url(https://placehold.co/32x32), auto; */
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    font-family: Helvetica;
    font-size: 8px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    margin: 0 10px;
}

.header-section {
    display: flex;
    justify-content: space-around;
}

.quote{
    height: 20px;
}

.quote::after{
    animation: quote-animation 15s linear;
    animation-iteration-count: infinite;
    content: "";
    height: 20px;
    white-space: pre;
}

@keyframes quote-animation {
    0% {opacity:0; content:"\"Keep the main thing, the main thing.\"\A- Jalen Hurts";}
    15% {opacity:1; content:"\"Keep the main thing, the main thing.\"\A- Jalen Hurts";}
    35% {opacity:1; content:"\"Keep the main thing, the main thing.\"\A- Jalen Hurts";}
    50% {opacity:0; content:"\"Keep the main thing, the main thing.\"\A- Jalen Hurts";}
    50.1% {opacity:0; content:"\"I don't know anybody who needs a critic to find out what art is.\"\A- Jean-Michel Basquiat";}
    65% {opacity:1; content:"\"I don't know anybody who needs a critic to find out what art is.\"\A- Jean-Michel Basquiat";}
    85% {opacity:1; content:"\"I don't know anybody who needs a critic to find out what art is.\"\A- Jean-Michel Basquiat";}
    100% {opacity:0; content:"\"I don't know anybody who needs a critic to find out what art is.\"\A- Jean-Michel Basquiat";}
}

#butterfly {
    position: fixed;
    left: 0px;
    top: 30px;
    width: auto;
    height: 140.62px;
    z-index: -1;
    /* border: 5px solid black; */

    animation: butterfly 7s ease-in-out;
    animation-delay: 2s;
}

@keyframes butterfly {
    0% {left: 0}
    25% {top: 100px}
    75% {top: 0px}
    100% {left: 100%}
}

#butterfly-landing {
    position: absolute;
    left: 50%;
    top: 42px;
    width: auto;
    height: 140.62px;
    z-index: -1;
    transform: translateX(-27%);
    /* border: 5px solid black; */

    animation: butterfly-landing 2s ease-in;
    animation-delay: 7s;
}

@keyframes butterfly-landing {
    0% {top: -150px}
    100% {top: 40px}
}

a {
    color: inherit;
}