body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, Arial, sans-serif;
    /* cursor: url(https://placehold.co/32x32), auto; */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    margin: 0 10px;
}

.header-section {
    display: flex;
    justify-content: space-around;
}

.quote{
    height: 20px;
}

.quote::after{
    animation: quote-animation 15s linear;
    animation-iteration-count: infinite;
    content: "";
    height: 20px;
    white-space: pre;
}

@keyframes quote-animation {
    0% {opacity:0; content:"\"Keep the main thing, the main thing.\"\A- Jalen Hurts";}
    15% {opacity:1; content:"\"Keep the main thing, the main thing.\"\A- Jalen Hurts";}
    35% {opacity:1; content:"\"Keep the main thing, the main thing.\"\A- Jalen Hurts";}
    50% {opacity:0; content:"\"Keep the main thing, the main thing.\"\A- Jalen Hurts";}
    50.1% {opacity:0; content:"\"I don't know anybody who needs a critic to find out what art is.\"\A- Jean-Michel Basquiat";}
    65% {opacity:1; content:"\"I don't know anybody who needs a critic to find out what art is.\"\A- Jean-Michel Basquiat";}
    85% {opacity:1; content:"\"I don't know anybody who needs a critic to find out what art is.\"\A- Jean-Michel Basquiat";}
    100% {opacity:0; content:"\"I don't know anybody who needs a critic to find out what art is.\"\A- Jean-Michel Basquiat";}
}

#butterfly {
    position: fixed;
    left: 0px;
    top: 30px;
    width: auto;
    height: 108px;
    z-index: -1;
    /* border: 5px solid black; */
}

@keyframes butterfly {
    0% {left: 0px; top: 30px;}
    25% {top: 100px}
    75% {top: 50px}
    100% {left: 100%}
}

.butterfly-animation {
    animation: butterfly 6.7s ease-in-out;
    animation-delay: 2s;
}

#butterfly-landing {
    position: absolute;
    left: 50%;
    top: 58px;
    width: auto;
    height: 108px;
    z-index: -1;
    transform: translateX(-11%);
    /* border: 5px solid black; */
}

.butterfly-landing-animation {
    animation: butterfly-landing 2s ease-in;
    animation-delay: .5s;
}

@keyframes butterfly-landing {
    0% {top: -150px}
    100% {top: 58px}
}

@media only screen and (max-width: 992px) {
    #butterfly { display: none; }   /*. hide video on mobile screens*/
    #butterfly-landing { display: none; }   /*. hide video on mobile screens*/
}

a {
    color: inherit;
}