body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica, Arial, sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    font-family: Helvetica;
    font-size: 8px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    margin: 0 10px;
}

.header-section {
    display: flex;
    justify-content: space-around;
}

a {
    color: inherit;
}